---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Providers from '../components/Providers.astro';
import HowItWorks from '../components/HowItWorks.astro';
import UseCases from '../components/UseCases.astro';
import Pillars from '../components/Pillars.astro';
import Features from '../components/Features.astro';
import Privacy from '../components/Privacy.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Providers />
    <HowItWorks />
    <Privacy />
    <UseCases />
    <Pillars />
    <Features />
    <CTA />
  </main>
  <Footer />
</Layout>
